@charset "ISO-8859-1";
.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add margin to separate logo from navbar */
}

.logo img {
    height: 50px;
}

.logo p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 10px; /* Add margin between logo image and text */
}

.navbar {
    display: flex;
    background-color: red;
    flex-direction: row;
    align-items: center;
}

.navbar ul {
	display:flex;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px; /* Add margin between navbar items */
}


.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
   	text-align: justify;
}

.navbar ul li a:hover {
    background-color: white;
    color:green;
    border-radius: 3px;
    
}

.logout-form {
    margin-left: auto; /* Push the logout button to the right */
}

.btn_a_h{
	background-color:green;
	width: 100px;
	height: 30px;
}

.btn_a_h:hover{
	color:black;
	background-color:grey;
}

.navbar ul{
	margin-left: 200px;
}
 
 
.navbar ul li form button{
	margin-left:400px;
}