@charset "ISO-8859-1";
.img-circle-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid blue; /* Add blue border */
    box-sizing: border-box; /* Ensure border width is included in total width */
}

.img-circle-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-horizontal {
    display: flex;
    flex-direction: row;
}

.card-horizontal .card-body {
    flex: 1;
}
